<div *ngIf="hasPermission" class="flex flex-col rounded-md shadow-default h-full min-h-100">
    <div class="flex items-center justify-between bg-yellow-500 rounded-tl-md rounded-tr-md px-6 py-2">
        <div class="flex items-center">
            <mat-icon class="icon-size-8 text-white"
                      [svgIcon]="'awesome_solid:hands-helping'"></mat-icon>
            <span class="text-white font-bold pl-4">PARTICIPAÇÃO</span>
        </div>
    </div>

    <div class="h-full">

        <div class="h-90 overflow-y-custom overflow-y-auto px-4">

            <div *ngIf="loading" class="w-full">
                <div *ngFor="let _ of [].constructor(3); let i = index" class="w-full flex flex-col cursor-pointer border border-gray-200 rounded-md px-4 py-2" [ngClass]="{'mt-1': i > 0}">
                    <div class="flex items-center text-sm">
                        <div class="h-5 w-1/2 bg-gray-200 rounded-md"></div>
                    </div>
                    <div class="flex items-center text-sm mt-1">
                        <div class="h-8 w-1/3 bg-gray-200 rounded-md"></div>
                    </div>
                </div>
            </div>

            <ng-container *ngIf="!loading">
                <div class="w-full flex flex-col border border-gray-200 rounded-md px-4 py-2">
                    <div class="flex items-center text-sm">
                        <span class="font-semibold">Francisco</span>
                        <span class="text-blue-600 pl-2">R$ 432.000,00</span>
                        <span class="text-white pl-2 bg-yellow-500 rounded-lg px-2 ml-2 ">16%</span>
                    </div>
                </div>
                <div class="w-full flex flex-col border border-gray-200 rounded-md px-4 py-2">
                    <div class="flex items-center text-sm">
                        <span class="font-semibold">Daleon</span>
                        <span class="text-blue-600 pl-2">R$ 9.046.161,62</span>
                        <span class="text-white pl-2 bg-yellow-500 rounded-lg px-2 ml-2 ">15%</span>
                    </div>
                </div>
                <div class="w-full flex flex-col border border-gray-200 rounded-md px-4 py-2">
                    <div class="flex items-center text-sm">
                        <span class="font-semibold">Gabriel</span>
                        <span class="text-blue-600 pl-2">R$ 409.090,91</span>
                        <span class="text-white pl-2 bg-yellow-500 rounded-lg px-2 ml-2 ">14%</span>
                    </div>
                </div>
                <div class="w-full flex flex-col border border-gray-200 rounded-md px-4 py-2">
                    <div class="flex items-center text-sm">
                        <span class="font-semibold">Euclides</span>
                        <span class="text-blue-600 pl-2">R$ 270.000,00</span>
                        <span class="text-white ml-2 bg-yellow-500 rounded-lg px-2">10%</span>
                    </div>
                </div>
                <div class="w-full flex flex-col border border-gray-200 rounded-md px-4 py-2">
                    <div class="flex items-center text-sm">
                        <span class="font-semibold">Osmar</span>
                        <span class="text-blue-600 pl-2">R$ 270.000,00</span>
                        <span class="text-white pl-2 bg-yellow-500 rounded-lg px-2 ml-2 ">10%</span>
                    </div>
                </div>
                <div class="w-full flex flex-col border border-gray-200 rounded-md px-4 py-2">
                    <div class="flex items-center text-sm">
                        <span class="font-semibold">Carlos</span>
                        <span class="text-blue-600 pl-2">R$ 270.000,00</span>
                        <span class="text-white pl-2 bg-yellow-500 rounded-lg px-2 ml-2 ">10%</span>
                    </div>
                </div>
                <div class="w-full flex flex-col border border-gray-200 rounded-md px-4 py-2">
                    <div class="flex items-center text-sm">
                        <span class="font-semibold">Luis F.</span>
                        <span class="text-blue-600 pl-2">R$ 216.000,00</span>
                        <span class="text-white pl-2 bg-yellow-500 rounded-lg px-2 ml-2 ">8%</span>
                    </div>
                </div>
                <div class="w-full flex flex-col border border-gray-200 rounded-md px-4 py-2">
                    <div class="flex items-center text-sm">
                        <span class="font-semibold">Valéria</span>
                        <span class="text-blue-600 pl-2">R$ 136.363,64</span>
                        <span class="text-white pl-2 bg-yellow-500 rounded-lg px-2 ml-2 ">5%</span>
                    </div>
                </div>
                <div class="w-full flex flex-col border border-gray-200 rounded-md px-4 py-2">
                    <div class="flex items-center text-sm">
                        <span class="font-semibold">Leonardo</span>
                        <span class="text-blue-600 pl-2">R$ 135.000,00</span>
                        <span class="text-white pl-2 bg-yellow-500 rounded-lg px-2 ml-2 ">5%</span>
                    </div>
                </div>
                <div class="w-full flex flex-col border border-gray-200 rounded-md px-4 py-2">
                    <div class="flex items-center text-sm">
                        <span class="font-semibold">Driele</span>
                        <span class="text-blue-600 pl-2">R$ 135.000,00</span>
                        <span class="text-white pl-2 bg-yellow-500 rounded-lg px-2 ml-2 ">5%</span>
                    </div>
                </div>
                <div class="w-full flex flex-col border border-gray-200 rounded-md px-4 py-2">
                    <div class="flex items-center text-sm">
                        <span class="font-semibold">Pedro</span>
                        <span class="text-blue-600 pl-2">R$ 54.000,00</span>
                        <span class="text-white pl-2 bg-yellow-500 rounded-lg px-2 ml-2 ">2%</span>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>

<div *ngIf="!hasPermission" class="bg-white flex flex-col w-full h-full shadow-default rounded-md min-h-100">
    <div class="flex items-center justify-between bg-gray-100 rounded-tl-md rounded-tr-md px-6 py-2">
        <div class="flex items-center">
            <img class="w-8 text-blue-900" src="assets/icons/partnership.svg" alt="">
            <span class="text-blue-900 font-bold pl-4">Acordos</span>
        </div>
    </div>

    <div class="flex items-center justify-center w-full h-full">
        <span class="text-gray-500 text-sm">Você não possui permissão para acessar essa funcionalidade!</span>
    </div>
</div>
