<div class="w-full">
    <div class="block md:flex items-center justify-between w-full mb-6 mt-6 md:mb-0">
        <div class="hidden md:flex items-center my-6 md:my-0">
            <div>
                <h2 class="text-2xl font-medium text-blue-800 tracking-tight leading-7 my-0 truncate">DASH FORNECEDORES</h2>
            </div>
        </div>
    </div>

    <div class="flex flex-col items-center justify-center w-full shadow-default rounded-lg w-full p-6 transition-shadow ease-in-out duration-500 mt-6">
        <div class="md:flex items-center justify-between w-full">
            <mat-form-field class="w-full md:w-2/12 md:px-2">
                <mat-label>Regional</mat-label>
                <mat-select>
                    <mat-option [disabled]="loading" [value]="0">Regional 1</mat-option>
                    <mat-option [disabled]="loading" [value]="0">Regional 2</mat-option>
                    <mat-option [disabled]="loading" [value]="0">Regional 3</mat-option>
                    <mat-option [disabled]="loading" [value]="0">Regional 4</mat-option>
                    <mat-option [disabled]="loading" [value]="0">Todos</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="w-full md:w-2/12 md:px-2">
                <mat-label>Lojas</mat-label>
                <mat-select>
                    <mat-option [disabled]="loading" [value]="0">1001</mat-option>
                    <mat-option [disabled]="loading" [value]="0">1002</mat-option>
                    <mat-option [disabled]="loading" [value]="0">1003</mat-option>
                    <mat-option [disabled]="loading" [value]="0">1004</mat-option>
                    <mat-option [disabled]="loading" [value]="0">1005</mat-option>
                    <mat-option [disabled]="loading" [value]="0">Todas</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="w-full md:w-2/12 md:px-2">
                <mat-label>Compradores</mat-label>
                <mat-select>
                    <mat-option [disabled]="loading" [value]="0">Osmar</mat-option>
                    <mat-option [disabled]="loading" [value]="0">Pedro</mat-option>
                    <mat-option [disabled]="loading" [value]="0">Valéria</mat-option>
                    <mat-option [disabled]="loading" [value]="0">Luis F.</mat-option>
                    <mat-option [disabled]="loading" [value]="0">Francisco</mat-option>
                    <mat-option [disabled]="loading" [value]="0">Carlos</mat-option>
                    <mat-option [disabled]="loading" [value]="0">Euclides</mat-option>
                    <mat-option [disabled]="loading" [value]="0">Gabriel</mat-option>
                    <mat-option [disabled]="loading" [value]="0">Leonardo</mat-option>
                    <mat-option [disabled]="loading" [value]="0">Deleon</mat-option>
                    <mat-option [disabled]="loading" [value]="0">Driele</mat-option>
                    <mat-option [disabled]="loading" [value]="0">Pedro</mat-option>
                    <mat-option [disabled]="loading" [value]="0">Todos</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="w-full md:w-2/12 px-2">
                <mat-label>Periodo Anterior</mat-label>
                <mat-date-range-input [disabled]="loading" [rangePicker]="picker">
                    <input ngxMask="00/00/0000" matStartDate
                           placeholder="De">
                    <input  ngxMask="00/00/0000" matEndDate
                           placeholder="Até">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker startView="multi-year"
                                       panelClass="example-month-picker">>
                </mat-date-range-picker>
            </mat-form-field>
            <mat-form-field class="w-full md:w-2/12 px-2">
                <mat-label>Periodo Atual</mat-label>
                <mat-date-range-input [disabled]="loading" [rangePicker]="picker2">
                    <input ngxMask="00/00/0000" matStartDate
                           placeholder="De">
                    <input  ngxMask="00/00/0000" matEndDate
                            placeholder="Até">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-date-range-picker #picker2 startView="multi-year"
                                       panelClass="example-month-picker">>
                </mat-date-range-picker>
            </mat-form-field>
            <div class="w-full md:w-2/12 px-2">
                <button [disabled]="loading" (click)="onLoadCards()"
                        class="flex items-center justify-center cursor-pointer w-full md:min-w-32  bg-default hover:bg-blue-700 font-bold text-white text-center rounded-full py-3 px-8 mt-4 md:mt-0">
                    <span>{{loading ? 'Buscando' : 'Buscar'}}</span>
                </button>
            </div>
        </div>
    </div>

    <div  class="md:flex md:flex-col md:flex-auto md:min-w-0 w-full px-4 xl:px-0 sm:py-6 xl:py-8">
        <div class="md:flex md:items-center md:justify-between">
            <!--<div class="w-full md:min-w-1/6 mt-4 md:mt-0 md:pr-2 h-full">
                <div class="flex flex-col rounded-md shadow-default h-full min-h-30">
                    <div class="flex items-center justify-between rounded-tl-md rounded-tr-md px-6 py-2 bg-red-700">
                        <div class="flex items-center">
                            <mat-icon class="icon-size-8 text-white"
                                      [svgIcon]="'heroicons_outline:shopping-cart'"></mat-icon>
                            <span class="text-white font-bold pl-4">COMPRA</span>
                        </div>
                    </div>
                    <div class="py-4 h-full">
                        <h3 class="text-center text-blue-900">{{loading ? 'Buscando' : 'R$ 2,662.786,81'}}</h3>
                    </div>
                    <div class="flex items-center justify-between bg-gray-100 rounded-tl-md rounded-tr-md px-6 py-2">
                        <mat-icon class="icon-size-8 text-green-600 pr-2 text-sm"
                                  [svgIcon]="'heroicons_outline:arrow-up'"></mat-icon>
                        <span class="font-semibold text-sm">5,00%</span>
                        <span class="text-gray-600 text-sm">Periodo Ant. <br>
                        R$2.535.987,44
                        </span>
                    </div>
                </div>
            </div>-->
            <div class="w-full md:min-w-1/5 mt-4 md:mt-0 md:pr-2 h-full">
                <div class="flex flex-col rounded-md shadow-default h-full min-h-30">
                    <div class="flex items-center justify-between rounded-tl-md rounded-tr-md px-6 py-2 bg-blue-900">
                        <div class="flex items-center">
                            <mat-icon class="icon-size-8 text-white"
                                      [svgIcon]="'heroicons_outline:shopping-cart'"></mat-icon>
                            <span class="text-white font-bold pl-4">VENDA</span>
                        </div>
                    </div>
                    <div class="py-4 h-full">
                        <h3 class="text-center text-blue-900">{{loading ? 'Buscando' : 'R$ 2.955.946,96'}}</h3>
                    </div>
                    <div class="flex items-center justify-between bg-gray-100 rounded-tl-md rounded-tr-md px-6 py-2">
                        <mat-icon class="icon-size-8 text-red-600 pr-2"
                                  [svgIcon]="'heroicons_outline:arrow-down'"></mat-icon>
                        <span class="font-semibold text-sm text-red-600">-6,00%</span>
                        <span class="text-gray-600 text-sm">Periodo Ant. <br>
                        R$3.144.624,43
                        </span>
                    </div>
                </div>
            </div>
            <div class="w-full md:min-w-1/5 mt-4 md:mt-0 md:pr-2 h-full">
                <div class="flex flex-col rounded-md shadow-default h-full min-h-30">
                    <div class="flex items-center justify-between rounded-tl-md rounded-tr-md px-6 py-2 bg-orange-600">
                        <div class="flex items-center">
                            <mat-icon class="icon-size-8 text-white"
                                      [svgIcon]="'awesome_solid:bars'"></mat-icon>
                            <span class="text-white font-bold pl-4">VOLUME</span>
                        </div>
                    </div>
                    <div class="py-4 h-full">
                        <h3 class="text-center text-orange-600">{{loading ? 'Buscando' : '686.000'}}</h3>
                    </div>
                    <div class="flex items-center justify-between bg-gray-100 rounded-tl-md rounded-tr-md px-6 py-2">
                        <mat-icon class="icon-size-8 text-red-600 pr-2"
                                  [svgIcon]="'heroicons_outline:arrow-down'"></mat-icon>
                        <span class="font-semibold text-sm text-red-600">-2,00%</span>
                        <span class="text-gray-600 text-sm">Periodo Ant.<br>
                        700.000
                        </span>
                    </div>
                </div>
            </div>
            <div class="w-full md:min-w-1/5 mt-4 md:mt-0 md:pr-2 h-full">
                <div class="flex flex-col rounded-md shadow-default h-full min-h-30">
                    <div class="flex items-center justify-between bg-green-600 rounded-tl-md rounded-tr-md px-6 py-2">
                        <div class="flex items-center">
                            <mat-icon class="icon-size-8 text-white"
                                      [svgIcon]="'heroicons_outline:tag'"></mat-icon>
                            <span class="text-white font-bold pl-4">MARGEM</span>
                        </div>
                    </div>
                    <div class="py-4 h-full">
                        <h3 class="text-center text-green-600">{{loading ? 'Buscando' : '22,80%'}}</h3>
                    </div>
                    <div class="flex items-center justify-between bg-gray-100 rounded-tl-md rounded-tr-md px-6 py-2">
                        <mat-icon class="icon-size-8 text-red-600 pr-2"
                                  [svgIcon]="'heroicons_outline:arrow-down'"></mat-icon>
                        <span class="font-semibold text-red-600 text-sm">-1,20% pp</span>
                        <span class="text-gray-600 text-sm">Periodo Ant. <br>
                        24,00%
                        </span>
                    </div>
                </div>
            </div>
            <div class="w-full md:min-w-1/5 mt-4 md:mt-0 md:pr-2 h-full">
                <div class="flex flex-col rounded-md shadow-default h-full min-h-30">
                    <div class="flex items-center justify-between bg-gray-600 rounded-tl-md rounded-tr-md px-6 py-2">
                        <div class="flex items-center">
                            <mat-icon class="icon-size-8 text-white"
                                      [svgIcon]="'heroicons_outline:currency-dollar'"></mat-icon>
                            <span class="text-white font-bold pl-4">CASH MARGIN</span>
                        </div>
                    </div>
                    <div class="py-4 h-full">
                        <h3 class="text-center text-gray-600">{{loading ? 'Buscando' : 'R$ 11.715.525,20'}}</h3>
                    </div>
                    <div class="flex items-center justify-between bg-gray-100 rounded-tl-md rounded-tr-md px-6 py-2">
                        <mat-icon class="icon-size-8 text-red-600 pr-2"
                                  [svgIcon]="'heroicons_outline:arrow-down'"></mat-icon>
                        <span class="font-semibold text-sm text-red-600">-6,13%</span>
                        <span class="text-gray-600 text-sm">Periodo Ant. <br>
                        R$ 12.480.000,00
                        </span>
                    </div>
                </div>
            </div>
            <div class="w-full md:min-w-1/5 mt-4 md:mt-0 h-full">
                <div class="flex flex-col rounded-md shadow-default h-full min-h-30">
                    <div class="flex items-center justify-between bg-yellow-500 rounded-tl-md rounded-tr-md px-6 py-2">
                        <div class="flex items-center">
                            <mat-icon class="icon-size-8 text-white"
                                      [svgIcon]="'awesome_solid:hands-helping'"></mat-icon>
                            <span class="text-white font-bold pl-4">ACORDO</span>
                        </div>
                    </div>
                    <div class="py-4 h-full">
                        <h3 class="text-center text-yellow-500">{{loading ? 'Buscando' : 'R$ 0,00'}}</h3>
                    </div>
                    <div class="flex items-center justify-between bg-gray-100 rounded-tl-md rounded-tr-md px-6 py-2">
                        <mat-icon class="icon-size-8 text-red-600 pr-2"
                                  [svgIcon]="'heroicons_outline:arrow-down'"></mat-icon>
                        <span class="font-semibold text-sm text-red-600">-2,00%</span>
                        <span class="text-gray-600 text-sm">Periodo Ant. <br>
                        R$ 150.000,00
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div  class="md:flex md:flex-col md:flex-auto md:min-w-0 w-full px-4 xl:px-0 xl:py-8">
        <div class="md:flex md:items-center md:justify-between mt-6">
            <div class="w-full md:w-3/3 mt-4 md:mt-0 h-full">
                <dashboard-card-evolution-sales ></dashboard-card-evolution-sales>
            </div>
        </div>
        <div class="md:flex md:items-center md:justify-between mt-6">
            <div class="w-full md:w-3/3 mt-4 md:mt-0 h-full">
                <dashboard-card-evolution-sales-regional></dashboard-card-evolution-sales-regional>
            </div>
        </div>
        <div class="md:flex md:items-center md:justify-between mt-6">
            <div class="w-full md:w-3/3 mt-4 md:mt-0 h-full">
                <dashboard-card-result-supplier ></dashboard-card-result-supplier>
            </div>
        </div>
        <div class="md:flex md:items-center md:justify-between mt-6">
            <div class="w-full md:w-3/3 mt-4 md:mt-0 h-full ">
                <dashboard-card-supplier-evolution-sales ></dashboard-card-supplier-evolution-sales>
            </div>
        </div>
        <div class="md:flex md:items-center md:justify-between mt-6">
            <div class="w-full md:w-3/3 mt-4 md:mt-0 h-full ">
                <dashboard-card-order-fill-rate></dashboard-card-order-fill-rate>
            </div>
        </div>
    </div>

</div>
