<!-- Flippable card -->
<ng-container *ngIf="flippable">

    <!-- Front -->
    <div class="cipafacil-card-front">
        <ng-content select="[cipafacilCardFront]"></ng-content>
    </div>

    <!-- Back -->
    <div class="cipafacil-card-back">
        <ng-content select="[cipafacilCardBack]"></ng-content>
    </div>

</ng-container>

<!-- Normal card -->
<ng-container *ngIf="!flippable">

    <!-- Content -->
    <ng-content></ng-content>

    <!-- Expansion -->
    <div
        class="cipafacil-card-expansion"
        *ngIf="expanded"
        [@expandCollapse]>
        <ng-content select="[cipafacilCardExpansion]"></ng-content>
    </div>

</ng-container>
